body{
  padding: 0;
  margin: 0;
  font-family: Product Sans;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxifypQkot1TnFhsFMOfGShVEu_vWE1kr1ap.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
.container{
  padding: 0;
  margin: 0;
  border: 1px solid pink;
  width: 100%;
  height: 100%;
}
.container h1:hover{
  text-align: center;
  font-family: Ariel;
  font-size: 50px;
  color: pink;
}
.container .nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E0E0E0;
}
.container .nav ul li{
  float: left;
}
.container .nav ul li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container .nav ul li a:hover{
  background-color: pink;
}
